.servicediv{
    background: url('/public/Assets/Home/bg/services.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#commercial{
    background: url('/public/Assets/Services/blur0.jpg');
}

@media screen and (max-width: 640px) {
    .servicediv{
        background:none
    }
    #commercial{
        background:rgb(29,30,36);
    }
}
